h1 {
    font-family: 'Montserrat', 'Arial', 'Helvetica', 'sans-serif';
    color: #333333;
}

h3 {
    font-family: 'Montserrat', 'Arial', 'Helvetica', 'sans-serif';
    color: #333333;
}

h4 {
    font-family: 'Montserrat', 'Arial', 'Helvetica', 'sans-serif';
    color: #333333;}

p {
    font-family: 'Montserrat', 'Arial', 'Helvetica', 'sans-serif';
    color: #333333;
}

.navigation a {
    font-family: 'Montserrat', 'Arial', 'Helvetica', 'sans-serif';
    color: #333333;
    font-size: 20px;
    text-decoration: none;
}
.navigation a:hover {
    color: #CE823C;
}

.content h1 {
    margin-top: 0;
}

.navigation h1 {
    color: #548569;
}

.navigation {
    min-height: 125px;
    background-image: linear-gradient(#fff,rgba(255, 255, 255, 0.85),rgba(255, 255, 255, 0.54),rgba(255, 255, 255, 0.014));
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.inline-block {
    padding: 15px;
    display: inline-block;

}



.logo {
    width: 23%;
    padding: 1%;
}

nav {
    width: 73;
    padding: 1%;
    float: right; 
}

ul {
    width: 50%;
    margin-left: auto;
}

.logo {
    float: left;
}

.hero {
    height: auto;
    max-width: 1400px ;
    padding: 25px;
    display: inline-flex;
    margin-top: 100px;
}

.pic {
    padding: 25px;
}

.content {
    min-width: 500px;
    padding: 25px;
    display: inline;
    vertical-align: middle;
}

footer {
    background-color: #373738;
}

footer ul {
    display: inline-block;
    vertical-align: top;
    padding: 2%;
}

.mySkills{
    height: auto;
    padding: 25px;
}

.flexContainer {
    display: flex;
    width: 100%-40px;
    max-width: 1400px ;
    margin: 40px;
    flex-direction: row;
}

.skill {
    padding: 20px;
    margin: 5px;
}

.skill img {
    width: auto;
    height: 300px;
    justify-content: center;
    align-content: center;
}

.myWork {
    padding-left: 25px;
}

.workGrid {
    padding: 25px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 40% 60%;
    grid-template-areas: "nonProfitCaseStudyPic nonProfitCaseStudyText"
                        "fredCaseStudyPic fredCaseStudyText";
}

.workGrid img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

#nonProfitCaseStudyPic {
    grid-area: nonProfitCaseStudyPic; 
}

#nonProfitCaseStudyText {
    grid-area: nonProfitCaseStudyText; 
}

#fredCaseStudyPic {
    grid-area: fredCaseStudyPic; 
}

#fredCaseStudyText {
    grid-area: fredCaseStudyText; 
}

.caseStudy{
    display: grid;
    align-content:center;
    margin: 10px;
}

html {
    scroll-behavior: smooth;
  }

button {
    display:inline-block;
    padding:0.85em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:15px;
    border: none;
    font-family: 'Montserrat', 'Arial', 'Helvetica', 'sans-serif';
    font-weight:300;
    color:#FFFFFF;
    text-decoration:none;
    background-color:#548569;
    text-align:center;
    transition: all 0.2s;
}

button a {
    color:#FFFFFF;
    text-decoration:none;
}

button:hover{
    background-color:#ce823c;
    cursor: pointer;
}

@media all and (max-width:30em){
     button{
    display:block;
    margin:0.2em auto;
    }

.preloader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 100000;
    background-color: rgba(255, 255, 255, 0.651);
    top: 0;
    display: flex;
    align-items: center;
  }
  .preloader img {
    animation: spin 3s ease;
    transition: all;
    width: 150px;
    margin: 0 auto;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(720deg);
    }
  }
  

@media only screen and (max-width: 600px) {
    .flexContainer {
        flex-direction: column;
        margin: 10px;
    }

    .mySkills {
        padding: 5px;
        grid-template-rows: 100% 100% 100% 100%;
        grid-template-columns: 1fr;
        grid-template-areas: "nonProfitCaseStudyPic"
                             "nonProfitCaseStudyText"
                             "fredCaseStudyPic"
                             "fredCaseStudyText";
    }

}}